# Django variables
DJANGO_SECRET_KEY=<your_secret_key>
DJANGO_DEBUG=True / False

# Database variables
POSTGRES_DB=<your_database_name>
POSTGRES_USER=<your_database_user>
POSTGRES_PASSWORD=<your_database_password>
POSTGRES_HOST=<your_database_host> # e.g. localhost
POSTGRES_PORT=<your_database_port> # e.g. 5432
# Redis variables
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
# Celery variables
CELERY_BROKER_URL=CELERY_BROKER_URL
CELERY_RESULT_BACKEND=CELERY_RESULT_BACKEND
